@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background: #028af8;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    border: 1px solid #0ec3c9;
    color: #0ec3c9;
}

.button:active {
    background-color: #0ec3c9;
}

/* Disabled styles */
.button:disabled {
    cursor: not-allowed;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
}

